.header {
    background-color: var(--background-padrao);
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 4rem);
    max-width: calc(1360px - 4rem);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: #333333;
    box-sizing: border-box;
}

.logo img {
    height: 48px;
    transition: transform 0.3s ease-in-out;
}

.logo img:hover {
    transform: scale(1.05);
}

.nav-center ul {
    display: flex;
    gap: 4rem;
}

.nav-center a,
.nav-right a {
    font-size: 2rem;

}

.nav-center a:hover,
.nav-right a:hover {
    color: var(--active-color);
}

.nav-right ul {
    display: flex;
    gap: 4rem;
    align-items: center;
}

.nav-right img {
    height: 20px;
}

.nav-right a:hover img {
    opacity: 0.7;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex: 1;
    margin-left: 16rem
}

.menu-toggle {
    display: none;
}

.menu-icon {
    width: 30px;
    height: 30px;
    display: none;
}

.menu-icon img {
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
    
}

.menu-icon:hover img {
    opacity: 0.7;
}

@media (max-width: 1280px) {
    .header {
        width: calc(100% - 40px);
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        width: 30px;
        height: 30px;
        z-index: 1001;
    }

    .nav-container {
        position: fixed;
        top: 0;
        right: -100%;
        width: 200px;
        flex-direction: column;
        background-color: #ffffff;
        padding: 80px 20px 20px;
        gap: 3rem;
        transition: right 0.3s ease;
        align-items: flex-start;
    }
    
    .nav-center, .nav-right { 
        width: 100%;
        text-align: center;
    }

    .nav-center ul, .nav-right ul {
        flex-direction: column;
        gap: 2.4rem;
        width: 100%;
    }
 
    .nav-center a, .nav-right a {
        width: 100%;
        border-bottom: 1px solid #eeeeee;
        padding: 0.1rem 0;
        font-size: 1.6rem;
        display: block;
    }
}
.menu-toggle:checked ~ .nav-container{
    right: 0;

}