
.header {
    background-color:var(--background-padrao);
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 4rem);
    max-width: calc(1360px - 4rem);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: #333333;
    box-sizing: border-box;
}
.logo img {
    height: 48px;
}

.nav-center ul{
    display: flex;
    gap: 4rem;
}

.nav-center a, .nav-right a{
    font-size: 2rem;
    
}
.nav-center a:hover, 
.nav-right a:hover{
    color:var(--active-color);
}

.nav-right ul {
    display: flex;
    gap: 4rem;
    align-items: center;
}
.nav-right img {
    height: 20px;
}

.nav-right a:hover img {
    opacity: 0.7;
}