body{
    background-color: black;
}
.header {
    background-color: #FFFFFF;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 10%);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;
}
.logo img {
    height: 48px;
}

.nav-center ul{
    display: flex;
    gap: 4rem;
}

.nav-center a, .nav-right a{
    font-size: 2rem;
    
}
.nav-center a:hover, 
.nav-right a:hover{
    color: #7C3AED;
}

.nav-right ul {
    display: flex;
    gap: 4rem;
    align-items: center;
}
.nav-right img {
    height: 20px;
}

.nav-right a:hover img {
    opacity: 0.7;
}