.hero {
    background: url(../../images/banners/hero-img.jpg) no-repeat center;
    height: 500px;
    background-size: cover;
    position: relative;
    border-radius: 20px;
    top: 10px;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 12rem;
}

.hero-content {
    color: var(--color-font-hero);
    max-width: 360px;
    text-align: center;
}

.hero-content .hero-title {
    font-size: 2.8rem;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 36px;
    letter-spacing: 3px;
}

.hero-content .hero-subtitle {
    font-size: 2rem;
    font-weight: 400;
}

.hero-buttons {
    display: flex;
    gap: 16px;
}


.btn-filled {
    color: var(--active-color);
    background-color: var(--background-padrao);
}

@media (max-width: 1280px) {
    .hero {
        height: 660px;
        background-image: url(../../images/banners/hero-mobile.png);
        display: flex;
        flex-direction: column;
        
    }

    .hero-overlay {
        padding: 0;
        justify-content: center;
    }

    .hero-content .hero-title {
        font-size: 2.4rem;
    }
    .hero-content .hero-subtitle { 
        font-size: 2rem ;
    }
    .hero-content {
        max-width:330px;
        align-items: center;
        margin: 0 auto;
    }
   .btn {
    font-size: 1.8rem;
   }
}