body {
    font-family: var(--fonte-principal);
    background-color: var(--background-padrao);
    
    
}
main {
    padding: 2.5rem 0 0;
    max-width: 1360px;
    margin: 0 auto;
}

.btn {
    font-size: 1.9rem;
    color: var(--color-font-hero);
    width: 161px;
    height: 48px;
    font-weight: 400;
    border-radius: 30px;
    padding: 10px 20px;
    border: 2px solid var(--color-font-hero);
    transition: background-color 0.3s, color 0.3s ease-in-out;
    line-height: 23px;
}

.btn:hover {
    background-color: var(--active-color);
    border: var(--active-color);
    color: var(--color-font-hero);
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.795);

}