/* Modern CSS Reset
	 Based on "Modern CSS Reset" by Andy Bell
	 https://andy-bell.co.uk/modern-css-reset/
*/

:where(html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
	address, big, cite, code, del, dfn, em, img, ins, kbd, q,
	s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
	center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	caption, tbody, tfoot, thead, tr, th, td, main, figure, figcaption,
	textarea, details, summary, menu, dialog) {
	all: unset;
	display: revert;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	tab-size: 4;
	height: 100%;
	font-size: 10px;
}

body {
	min-height: 100%;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img,
picture,
svg,
video,
canvas,
audio,
iframe {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#app,
main {
	isolation: isolate;
}

ul[role='list'],
ol[role='list'] {
	list-style: none;
}
ul, ol {
	list-style: none;
}
button {
	background: transparent;
	border: none;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

.sr-only {
	position: absolute !important;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
a, button{
	cursor: pointer;
}